@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: "#25064C";
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: "#25064C";
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: "#25064C";
  border-radius: 14px;
  border: 3px solid "#25064C";
}
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.without-ring {
  @apply focus:ring-0 focus:ring-offset-0;
  outline: none;
}
